* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: white;
}

canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 1rem;
}

#controls {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

#controls label {
  display: inline-block;
  text-align: right;
  min-width: 50px;
  margin: 0.5rem;
}
