* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #222;
}

canvas {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin-top: 1rem;
}

#controls {
  position: absolute;
  top: 1rem;
  left: 1rem;
}

#controls label {
  display: inline-block;
  text-align: right;
  min-width: 50px;
  margin: 0.5rem;
}

#controls h2 select {
  margin-left: 0.5rem;
}

a#button {
  position: fixed;
  bottom: 16px;
  right: 16px;
  padding: 12px;
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  margin-bottom: 0px;
  background-color: #fff;
  opacity: 0.8;
  z-index: 999;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.15);
  text-decoration: none;
  font-weight: bold;
}

a#button:hover {
  opacity: 1;
}
